
@{ ViewBag.Title = "UnauthorizedOperation";
                Layout = "~/Views/Shared/_Layout.cshtml"; }



<div class="container">
    <div class="jumbotron">
        <section class="content-header">
            <h1>
                Error, no tienes permiso para realizar esta Accion!
            </h1>
        </section>
        <section class="content">
            <div class="col-md-offset-0 row justify-content-center">
                <div class="error-content">
                    <h2><i class="fa fa-warning text-red"></i>  Sin autorización</h2>
                    @if (ViewBag.operacion != "")
                    {
        <p>Operación @ViewBag.operacion </p>}
                    @if (ViewBag.modulo != "")
                    {
        <p>Modulo @ViewBag.modulo</p>}
                    @if (ViewBag.msjeErrorExcepcion != "")
                    {
        <p>@ViewBag.msjeErrorExcepcion</p>}

                    <img src="~/Content/images/error.jpg" width="500" height="300" />
                </div>
                <br />
                <br />
                <br />
                <br />
                <button class="btn btn-default btn-lg" onclick="location.href='@Url.Action("Index","Home")';return false;">Inicio <i class="fas fa-home"></i></button>
            </div>
            <!-- /.error-page -->

        </section>
    </div>
</div>

