@model Compras_Inventario_Fereteria.Models.categoria

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Borrar</h2>

<h3>Esta seguro que desea Borrar este Registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipo_categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_categoria)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
           <input type="submit" value="Borrar" class="btn btn-danger" /> |
           <button class="btn btn-default " onclick="location.href='@Url.Action("index")';return false;">Regresar</button>
    </div>
    }
</div>
