@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Sistema de Infromacion de Gestion de compras de Inventario de Ferretaria</p>

<p>Version 1.0</p>

<p>Desarrolador</p>

<h4><b>FERNANDO ALEJANDRO PEÑATE MEJIA</b></h4>
<p>Contacto</p>
alex8196@hotmail.es
