@{
    ViewBag.Title = "";
}
<h1>@ViewBag.Title</h1>
<h1>@ViewBag.Message</h1>



<div class="container">
    <div class="jumbotron">
        <h2>COMPRAS DE INVENTARIO DE FERRETERIA</h2>

        <h3><p>Sistema de Infromacion de Gestion de compras de Inventario de Ferretaria</p></h3>

        <p><h3>Version 1.0</h3></p>

        <p><h3>Desarrollador</h3></p>

        <h2><b>FERNANDO ALEJANDRO PEÑATE MEJIA</b></h2>
        <p><h3>Contacto</h3></p>
        <b><h3>alex8196@hotmail.es</h3></b>
    </div>
</div>