@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>COMPRAS DE INVENTARIO DE FERRETERIA</h1>
</div>

<div class="container">

    <div class="jumbotron ">
        <img src="~/Content/images/ferreteria.jpg" width="1000" height="500"  />
    </div>
    

</div>

